.App {
  text-align: center;
}

.title {
  font-size: x-large;
}
.ant-row {
  margin-top: 24px;
  margin-bottom: 24px;
}

.maxTemp {
  font-weight: bold;
  padding-top: 12px;
}

.minTemp {
  padding-bottom: 12px;
}

.description {
  margin-top: 8px;
  font-weight: lighter;
}

.ant-alert-error {
  width: 50%;
  margin: 0 auto;
}

.ant-card {
  width: 120px;
  margin-right: 8px;
}

.ant-card-head-title{
  text-transform: uppercase;
}

.ant-card-body {
  padding: 1px 0px;
}

.ant-card-head {
  color: #e6f7ff;
  background: #096dd9;
}

link {
  color: #61dafb;
}

.forecast-cards {
  display: flex;
}
